lxml == 6.1.0
pytz == 2026.1.post1
numpy == 2.4.4
pandas == 3.0.2
urllib3 == 2.6.3
pillow == 12.2.0
openpyxl == 3.1.5
colorama == 0.4.6
aiogram == 3.27.0
protobuf == 4.25.8
requests == 2.33.1
fonttools == 4.62.1
XlsxWriter == 3.2.9
certifi == 2026.2.25
matplotlib == 3.10.8
python-dotenv == 1.2.2
mplfinance == 0.12.10b0
beautifulsoup4 == 4.14.3
opencv-python >= 4.8.1.78
charset-normalizer == 3.4.7
tinkoff-investments == 0.2.0b117
