lxml == 6.0.2
pytz == 2025.2
mypy == 1.18.2
numpy == 2.3.3
pandas == 2.3.2
urllib3 == 2.5.0
pillow == 11.3.0
openpyxl == 3.1.5
colorama == 0.4.6
aiogram == 3.22.0
protobuf == 4.25.8
requests == 2.32.5
fonttools == 4.60.0
XlsxWriter == 3.2.9
certifi == 2025.8.3
matplotlib == 3.10.6
python-dotenv == 1.1.1
mplfinance == 0.12.10b0
beautifulsoup4 == 4.14.2
opencv-python >= 4.8.1.78
charset-normalizer == 3.4.3
typing_extensions == 4.15.0
pandas-stubs == 2.3.2.250926
types-pytz == 2025.2.0.20250809
tinkoff-investments == 0.2.0b116
types-requests == 2.32.4.20250913
