TIMEZONE='Europe/Moscow'
INPUT_PATH='./input'
OUTPUT_PATH='./output'
INVEST_TOKEN="<your_read_invest_token>"
CB_CURRENCIES_URL="https://www.cbr.ru/currency_base/daily/"
REQUEST_DELAY_SECONDS=0.25
GRPC_PYTHON_DEFAULT_TIMEOUT_SECONDS=10
SSL_TBANK_VERIFY=True